{include file="public/header"/}

<body class="gray-bg">
<div class="wrapper wrapper-content">
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
        <div>尊敬的会员<span id="weather"></span></div>
    </div>

    <!-- 上方tab -->
<!--    <div class="row">-->
<!--        <div class="col-sm-3">-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label pull-right">日</span>-->
<!--                    <span class="label pull-right">周</span>-->
<!--                    <span class="label label-success pull-right">月</span>-->
<!--                    <h5>会员</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">{$member}</h1>-->
<!--                    <small>今日新增</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label pull-right">日</span>-->
<!--                    <span class="label pull-right">周</span>-->
<!--                    <span class="label label-success pull-right">月</span>-->
<!--                    <h5>订单</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">275,800</h1>-->
<!--                    <small>总订单</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <span class="label pull-right">日</span>-->
<!--                    <span class="label pull-right">周</span>-->
<!--                    <span class="label label-success pull-right">月</span>-->
<!--                    <h5>注册</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">106,120</h1>-->
<!--                    <small>新增</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm-3">-->
<!--            <div class="ibox float-e-margins">-->
<!--                <div class="ibox-title">-->
<!--                    <a href="#question">-->
<!--                        <i class="fa fa-question" style="color:red;margin-left:10px" data-container="body" data-toggle="popover" data-placement="bottom"-->
<!--                           data-content="日活跃用户 = 当日登录游戏的用户 - 当日新增用户数(去重)@@@@@@@@月活跃用户 = 最近30天登录游戏的用户 - 最近30天新增用户(去重)"></i>-->
<!--                    </a>-->
<!--                    <span class="label pull-right">日</span>-->
<!--                    <span class="label pull-right">周</span>-->
<!--                    <span class="label label-success pull-right">月</span>-->
<!--                    <h5>活跃用户</h5>-->
<!--                </div>-->
<!--                <div class="ibox-content">-->
<!--                    <h1 class="no-margins">80,600</h1>-->
<!--                    <small>7月</small>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>

{include file="public/footer" /}
<script src="/static/admin/js/jquery.leoweather.min.js"></script>
</body>
</html>