{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style>
.file-item{float: left; position: relative; width: 110px;height: 110px; margin: 0 20px 20px 0; padding: 4px;}
.file-item .info{overflow: hidden;}
.uploader-list{width: 100%; overflow: hidden;}
</style>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>添加比例</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal" name="add_fybl" id="add_fybl" method="post" action="{:url('add_fybl')}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最小招生人数：</label>
                            <div class="input-group col-sm-4">
                                <input id="min" type="number" class="form-control" name="min" placeholder="请输入最小招生人数">
                            </div>
                        </div>
                        
                        <input type="hidden" id="fenyongid" name="fenyongid" value="{$id}">
                        <input type="hidden" id="cid" name="cid" value="{$kc_id}">
                        <input type="hidden" id="jg_id" name="jg_id" value="{$jg_id}">
                        
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">最大招生人数：</label>
                            <div class="input-group col-sm-4">
                                <input id="max" type="number" class="form-control" name="max" placeholder="请输入最大招生人数">
                            </div>
                        </div>
                        
                        
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">分佣比例(百分比)：</label>
                            <div class="input-group col-sm-4">
                                <input id="fenyong" type="number" class="form-control" name="fenyong" placeholder="请输入分佣比例(百分比)">
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存</button>&nbsp;&nbsp;&nbsp;
                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>

<script type="text/javascript">
    //提交
    $(function(){
        $('#add_fybl').ajaxForm({
            beforeSubmit: checkForm, 
            success: complete, 
            dataType: 'json'
        });
        
        function checkForm(){
            if( '' == $.trim($('#min').val())){
                layer.msg('请输入最小招生人数',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
                });
                return false;
            }

            if( '' == $.trim($('#max').val())){
                layer.msg('请输入最大招生人数',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
                });
                return false;
            }
            
            if( '' == $.trim($('#fenyong').val())){
                layer.msg('请输入分佣比例',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
                });
                return false;
            }
        }

        function complete(data){
            if(data.code==1){
                layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                    window.location.href="{:url('fybl')}?id={$id}&kc_id={$kc_id}&jg_id={$jg_id}";
                });
            }else{
                layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                return false;   
            }
        }   
    });

</script>
</body>
</html>