{include file="public/header" /}
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="/static/admin/webupload/style.css">
<style type="text/css">
/* TAB */
.nav-tabs.nav>li>a {
    padding: 10px 25px;
    margin-right: 0;
}
.nav-tabs.nav>li>a:hover,
.nav-tabs.nav>li.active>a {
    border-top: 3px solid #1ab394;
    padding-top: 8px;
    border-bottom: 1px solid #FFFFFF;
}
.nav-tabs>li>a {
    color: #A7B1C2;
    font-weight: 500;  
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 0;
}
</style>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>课程编辑</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">       
                    <div class="panel blank-panel">
                        <div class="panel-heading">                     
                            <div class="panel-options">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">线上配置</a></li>
                                    <li class=""><a data-toggle="tab" href="#tab-3" aria-expanded="false">线下配置</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane active">
                                    <!--<form action="{:url('edit_curriculum')}" method="post" class="form-horizontal">-->
                                    <form class="form-horizontal">
                                        <input type="hidden" id="id" name="id" value="{$rs.id}"/>
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">课程标题：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="kcname" id="kcname" value="{$rs.kcname}">
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">课程讲师：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="teacher" id="teacher" value="{$rs.teacher}">
                                            </div>
                                        </div>
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">报名时间：</label>
                                            <div class="input-group col-sm-8">
                                                <input type="text"  name="bm_star_time" onclick="laydate()" id="bm_star_time" value="{$rs.bm_star_time}" class="form-control layer-date" placeholder="开始日期"/><div style="display: inline-block;float: left;line-height: 30px;margin: 0 2%;">至</div>
                                                <input type="text"  name="bm_end_time" onclick="laydate()" id="bm_end_time" value="{$rs.bm_end_time}" class="form-control layer-date" placeholder="结束日期"/>
                                                
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">培训时间：</label>
                                            <div class="input-group col-sm-4">
                                                <input type="text"  name="px_star_time" onclick="laydate()" value="{$rs.px_star_time}" id="px_star_time" class="form-control" placeholder="开始日期"/>
                                            </div>
                                        </div>

                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">唯一标识：</label>
                                            <div class="input-group col-sm-4">
                                                <input type="text" class="form-control" name="bh" id="bh" value="{$rs.bh}">
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">背景图：</label>
                                            <div class="input-group col-sm-4">
                                                <input type="hidden" id="data_photo" name="img" value="{$rs.img}">
                                                <div id="fileList" class="uploader-list" style="float:right"></div>
                                                <div id="imgPicker" style="float:left">选择图片</div>
                                                <img id="img_data" height="100px" style="float:left;margin-left: 50px;margin-top: -10px;" src="/uploads/images/{$rs.img}"/>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="hr-line-dashed"></div>                          
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label " for="myEditor">简介：</label>
                                            <div class="input-group col-sm-6">
                                                <script src="/static/admin/ueditor/ueditor.config.js" type="text/javascript"></script>
                                                <script src="/static/admin/ueditor/ueditor.all.js" type="text/javascript"></script>
                                                <textarea name="content" style="width:100%" id="myEditor">{$rs.content}</textarea>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                       
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <button class="btn btn-primary" type="button" onclick="tj()"><i class="fa fa-save"></i> 保存信息</button>&nbsp;&nbsp;&nbsp;
                                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                                            </div>
                                        </div>                               
                                    </form>
                                </div>
                                <div id="tab-2" class="tab-pane">
                                    <form action="{:url('edit_curriculum')}" method="post" class="form-horizontal">  
                                        <input type="hidden" id="id" name="id" value="{$rs.id}"/>
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线上报名人数：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="number" class="form-control" name="xs_number" value="{$rs.xs_number}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线上早鸟价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xs_znj" value="{$rs.xs_znj}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线上原价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xs_yj" value="{$rs.xs_yj}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线上团报价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xs_tbj" value="{$rs.xs_tbj}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线上学生价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xs_xsj" value="{$rs.xs_xsj}">
                                            </div>
                                        </div>                                 
                                        
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">状态：</label>
                                            <div class="input-group col-sm-4">
                                                <div class="radio i-checks">
                                                    <input type="radio" name='xs_status' value="1" {if condition="$rs['xs_status'] eq 1 "}checked{/if}/>开启&nbsp;&nbsp;
                                                    <input type="radio" name='xs_status' value="0" {if condition="$rs['xs_status'] eq 0 "}checked{/if}/>关闭
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存信息</button>&nbsp;&nbsp;&nbsp;
                                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                                            </div>
                                        </div>                               
                                    </form>
                                </div>
                                <div id="tab-3" class="tab-pane">
                                    <form action="{:url('edit_curriculum')}" method="post" class="form-horizontal">                             
                                        <input type="hidden" id="id" name="id" value="{$rs.id}"/>
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线下报名人数：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="number" class="form-control" name="xx_number" value="{$rs.xx_number}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线下早鸟价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xx_znj" value="{$rs.xx_znj}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线下原价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xx_yj" value="{$rs.xx_yj}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线下团报价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xx_tbj" value="{$rs.xx_tbj}">
                                            </div>
                                        </div>                                 
                                        <div class="hr-line-dashed"></div>                                
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">线下学生价：</label>
                                            <div class="input-group col-sm-4">                                              
                                                <input type="text" class="form-control" name="xx_xsj" value="{$rs.xx_xsj}">
                                            </div>
                                        </div>                                 
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <label class="col-sm-3 control-label">状态：</label>
                                            <div class="input-group col-sm-4">
                                                <div class="radio i-checks">
                                                    <input type="radio" name='xx_status' value="1" {if condition="$rs['xx_status'] eq 1 "}checked{/if}/>开启&nbsp;&nbsp;
                                                    <input type="radio" name='xx_status' value="0" {if condition="$rs['xx_status'] eq 0 "}checked{/if}/>关闭
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-3">
                                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> 保存信息</button>&nbsp;&nbsp;&nbsp;
                                                <a class="btn btn-danger" href="javascript:history.go(-1);"><i class="fa fa-close"></i> 返回</a>
                                            </div>
                                        </div>                               
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/footer" /}
<script type="text/javascript" src="/static/admin/webupload/webuploader.min.js"></script>
<script type="text/javascript">
    var $list = $('#fileList');
    //上传图片,初始化WebUploader
    var uploader = WebUploader.create({
        auto: true,// 选完文件后，是否自动上传。
        swf: '/static/admin/js/webupload/Uploader.swf',// swf文件路径
        server: "{:url('Upload/upload')}",// 文件接收服务端。
        duplicate :true,// 重复上传图片，true为可重复false为不可重复
        pick: '#imgPicker',// 选择文件的按钮。可选。
        accept: {
            title: 'Images',
            extensions: 'gif,jpg,jpeg,bmp,png',
            mimeTypes: 'image/jpg,image/jpeg,image/png'
        },
        'onUploadSuccess': function(file, data, response) {
            $("#data_photo").val(data.data);
            $("#img_data").attr('src', '/uploads/images/' + data.data).show();
        }
    });
    uploader.on( 'fileQueued', function( file ) {
        $list.html( '<div id="' + file.id + '" class="item">' +
            '<h4 class="info">' + file.name + '</h4>' +
            '<p class="state">正在上传...</p>' +
            '</div>' );
    });
    // 文件上传成功
    uploader.on( 'uploadSuccess', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传成功！');
    });
    // 文件上传失败，显示上传出错。
    uploader.on( 'uploadError', function( file ) {
        $( '#'+file.id ).find('p.state').text('上传出错!');
    });
</script>
<script>
var editor = new UE.ui.Editor();
        editor.render("myEditor");
    function tj(){
        
            if( '' == $.trim($('#kcname').val())){
                layer.msg('请输入课程名称',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
            
            if( '' == $.trim($('#teacher').val())){
                layer.msg('请输入课程讲师',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }
            
            if( '' == $.trim($('#data_photo').val())){
                layer.msg('请选择图片',{icon:2,time:1500,shade: 0.1}, function(index){
                    layer.close(index);
                });
                return false;
            }

        if( '' == $.trim($('#bh').val())){
            layer.msg('请输入唯一标识',{icon:2,time:1500,shade: 0.1}, function(index){
                layer.close(index);
            });
            return false;
        }
            
            var id = $('#id').val();
            var kcname = $('#kcname').val();
            var teacher = $('#teacher').val();
            var bm_star_time = $('#bm_star_time').val();
            var bm_end_time = $('#bm_end_time').val();
            var px_star_time = $('#px_star_time').val();
            var img = $('#data_photo').val();
            var content = UE.getEditor('myEditor').getContent();
            var bh = $('#bh').val();
            $.ajax({
                //几个参数需要注意一下
                type: "POST",//方法类型
                dataType: "json",//预期服务器返回的数据类型
                url: "{:url('edit_curriculum')}" ,//url
                data: {"id":id,"kcname":kcname,"teacher":teacher,"bm_star_time":bm_star_time,"bm_end_time":bm_end_time,"px_star_time":px_star_time,"content":content,"img":img,bh:bh},
                success: function (data) {
                    if(data.code==1){
                        layer.msg(data.msg, {icon: 6,time:1500,shade: 0.1}, function(index){
                            window.location.href=data.url;
                        });
                    }else{
                        layer.msg(data.msg, {icon: 5,time:1500,shade: 0.1});
                        return false;
                    }
                },
            });
        
    }
</script>

<script type="text/javascript">
//IOS开关样式配置
    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, {
        color: '#1AB394'
    });
    var config = {
        '.chosen-select': {},
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
</script>
</body>
</html>
